<div class="form-group">
  <label>Customer Groups</label>
  <select name="product_customer_group[]" multiple class="form-control">
    {% for g in pvc_groups %}
      <option value="{{ g.customer_group_id }}"
        {% if g.customer_group_id in pvc_assigned %}selected{% endif %}>
        {{ g.name }}
      </option>
    {% endfor %}
  </select>
</div>
